* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'poppins';
}

:root {
    font-size: 6.25%;
    color: var(--cor-1);

    --cor-1: #0b182f;
    --cor-2: #0f2356;
    --cor-3: #315185;
    --cor-4: #6f8ebf;
    --cor-5: #FD8F08;
    --cor-6: #FFA83A;
    --cor-7: #FFD06B;
    --cor-8: #ffe2a3;
    --cor-9: #4CAF50;
    --cor-10: #6DDC79;
    --cor-11: #8EF39B;
    --cor-12: #AFFABE;
    --cor-13: #9C27B0;
    --cor-14: #B64FD3;
    --cor-15: #D68FF1;
    --cor-16: #EABDF8;
}

header {
    width: 100vw;
    height: 130px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 3%;

    position: fixed;
    top: 0px;

    background-color: transparent;
    transition: .5s;

    float: left;
    z-index: 2;
}

header.rolagem {
    height: 80px;
    background-color: #fffffff2;
}

header #logo {
    width: 30%;
    height: 35px;

    scroll-margin-top: 100px;

    background: left center / contain
        /* fixed */
        no-repeat url(../images/logo-fundo-transparente_2.png);
}

body {
    max-width: 100vw;
    height: 2000px;
}

a {
    text-decoration: none;
    color: var(--cor-6);
    font-weight: bold;
}

h1 {
    font-family: 'Epilogue';
    font-weight: 800;
}

h2 {
    font-size: 20rem;
    font-family: 'Epilogue';
    font-weight: 600;
}

#page #top-of-page {
    width: 100%;
    height: 100vh;

    position: relative;

    padding-bottom: 100px;

    background: center center / cover
        /* fixed */
        no-repeat url(../images/Imagem-Principal_Hospen.jpg);
}

#page #gray-overlay {
    width: 100%;
    height: 100%;

    float: left;
    z-index: 0;

    position: absolute;
    top: 1px;
    background: linear-gradient(to top,rgb(225, 237, 254) 0%, transparent 30%);
    color: white;
}

#top-of-page #content-main * {
    z-index: 1;
}

#top-of-page #content-main {
    width: 100%;
    max-height: 100%;

    margin-bottom: 40px;
    padding: 20px;
    padding-top: 150px;

    text-indent: 10px;

    display: grid;
    grid:
        "titulo"
        "conteudo"
        "botao";
    grid-template-rows: repeat(4, auto);


}

#top-of-page #content-main article {
    grid-area: conteudo;

    font-size: clamp(5rem, 20rem, 30rem);

    margin: 30px 0px;
    margin-bottom: 200px;
}

#top-of-page #content-main .titulo {
    grid-area: titulo;
}

#top-of-page #content-main .titulo h1 {

    font-size: clamp(25rem, 5vw + 10rem, 55rem);

    align-self: center;
    color: var(--cor-2);
    /* line-height: 50px; */
}

#top-of-page #content-main .titulo label {
    position: absolute;
    left: 50%;

    font-family: 'Epilogue';
    color: var(--cor-3);

}

#top-of-page #content-main article ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: clamp(2rem, 1vw + 10rem, 23rem);
    list-style-type: none;

    margin-top: 10px;
}

#content-main article p {
    display: none;
}

.btn {
    border: none;
    outline: none;
}

#top-of-page #content-main #btn-main {
    grid-area: botao;
/* 
    width: 85%;
    min-height: 70px; 
    */

    position: absolute;
    bottom: 12%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

    margin: 0px auto;
    padding: 25px  100px;

    border-radius: 10px;
    background-color: var(--cor-2);
    color: white;

    font-size: 22rem;
    font-weight: 700;
    text-transform: uppercase;

    transition: .4s;
    box-sizing: border-box;
}

#top-of-page #content-main #btn-main:hover {
    transform: scale(1.05, 1.05);
}

#area-escolha-planos {
    width: 100%;
    height: fit-content;

    background: linear-gradient(to bottom,rgb(225, 237, 254) 90%, transparent);


    padding: 25px 10px 10px 10px;
}

#area-escolha-planos h2 {
    width: 95%;

    font-size: clamp(25rem, 4.5vw + 10rem, 50rem);
    /* line-height: 35rem; */
    font-weight: 700;
    text-align: center;
}

#area-escolha-planos p {
    font-size: clamp(4rem, .4vw + 1rem, 15rem);
    line-height: 20px;

    justify-self: center;

    margin-top: 5px;
    padding: 5px;

    text-align: center;
}

#area-planos {
    margin: 15px auto;
}

/* Carrossel */

.containerCarrossel {
    position: relative;
}

.control {
    display: none;
    width: 30px;

    position: absolute;
    top: 0%;
    bottom: 0%;

    z-index: 1;

    text-align: center;
    font-size: 35px;

    border-radius: 10px;
    border: none;
    outline: none;

    background-color: rgba(66, 66, 66, 0.200);
}

.control:focus {
    background-color: rgba(66, 66, 66, 0.400);
}

.arrow-left {
    left: 0;

}

.arrow-right {
    right: 0;

}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-y: auto;

    scrollbar-width: none;
    padding: 40px 50px 40px 50px;
}

.gallery {
    display: flex;
    place-self: center;
    gap: 8px;
    flex-direction: row;
    flex-shrink: 0;

    margin-left: auto;
}


.plano {
    width: 340px;
    height: fit-content;

    display: flex;
    flex-direction: column;

    border: .5px solid rgba(131, 131, 131, 0.51);
    border-radius: 20px;

    margin-right: 10px;
    background: white;

}

.plano-principal {
    border: none;
    box-shadow: 0px 0px 20px var(--cor-8);
    transform: translateY(-20px);
}

.plano .infos-planos {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 10px;

    transform: translateY(-25px);
}

.plano .infos-planos .header-plano {
    margin-top: 15px;
}

.plano .infos-planos .header-plano label {
    display: block;
    width: 3px;

    font-size: 18rem;

    margin-bottom: 5px;

    position: relative;
    left: 30px;
}

.plano .infos-planos .header-plano h3 {
    text-align: center;
    font-size: 50rem;
    line-height: 50rem;
    color: var(--cor-1);
}

.plano .infos-planos .cashback {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;

    margin-top: 10px;
}

.gallery>#plano0 .infos-planos .cashback span {
    background-color: var(--cor-12);
    /* background-color: var(--cor-4); */
}

.plano-principal .infos-planos .cashback span {
    background-color: var(--cor-8);
}

.gallery>#plano2 .infos-planos .cashback span {
    background-color: var(--cor-16);
    /* background-color: var(--cor-4); */
}

.plano .infos-planos .cashback span {
    color: var(--cor-1);

    font-size: 16rem;

    padding: 5px 15px;
    border-radius: 60px;

    transform: translateX(20px);
}

.plano .infos-planos .preco-plano {
    text-align: center;

    margin: 18px 0px 0px 0px;
}

.plano .infos-planos .preco-plano span {
    font-weight: 300;
    font-size: 18rem;
}

.plano .infos-planos .preco-plano strong {
    font-size: 50rem;
    line-height: 55rem;
    color: var(--cor-1);
}

.plano .infos-planos .preco-plano :last-child {
    color: gray;
    text-decoration: line-through;
    line-height: 0px;

    display: flex;
    align-self: end !important;

    transform: translate(10px, -75px);
}


.gallery>#plano0>section>button {
    background-color: var(--cor-9);
    /* background-color: var(--cor-3); */
}

.plano-principal>.infos-planos>button {
    background-color: var(--cor-5);
}

.gallery>#plano2>.infos-planos>button {
    background-color: var(--cor-13);
    /* background-color: var(--cor-3); */
}

.plano .infos-planos button {
    width: 95%;

    padding: 20px;
    margin: 0px auto;
    margin-top: 40px;

    border: none;
    border-radius: 10px;

    font-size: 18rem;

    transition: transform 0.3s;

    color: var(--cor-1);
    /*
    =========================PASSAR O HOVER QUANDO FOR UMA TELA MAIOR 
    border: 1px solid var(--cor-4);
    background-color: transparent; */
}

.plano .infos-planos button:hover {
    transform: scale(1.05, 1.05);
}

.plano .infos-planos button::before {
    font-family: FontAwesome;
    font-size: 26rem;
    content: "\f07a";
}

/*
=========================PASSAR O HOVER QUANDO FOR UMA TELA MAIOR
.plano .infos-planos button:hover { 
    background-color: var(--cor-4);
} */

.plano .btnSM {
    width: 100%;
    height: auto;

    padding: 10px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0px 0px 20px 20px;

    background-color: transparent;
    outline: none;
    border: none;
}

.gallery>#plano0 #saibaMais-1 {
    border-top: 1px solid var(--cor-9);
    color: var(--cor-9);
    /* border-top: 1px solid var(--cor-1);
    color: var(--cor-1); */
}

.plano-principal #saibaMais-2 {
    border-top: 1px solid var(--cor-5);
    color: var(--cor-5);
}

.gallery>#plano2 #saibaMais-3 {
    border-top: 1px solid var(--cor-13);
    color: var(--cor-13);
    /* border-top: 1px solid var(--cor-1);
    color: var(--cor-1); */
}


.plano>button::after {
    font-family: FontAwesome;
    transform: scale(1, 1);
    content: "\f107";

    transition: .3s;
}

.plano button.aberto::after {
    transform: rotate(180deg);
}

.plano dialog {
    width: 100%;
    height: auto;

    position: relative;

    padding: 10px;

    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 20px;
    outline: none;
}

.plano dialog ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plano dialog ul li {
    width: 90%;

    margin-left: 2px;
}

.plano dialog ul li span {
    width: 15px;
    margin-right: 5px;
}

.plano dialog ul li span::before {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: FontAwesome;
    float: left;
    position: relative;
    margin-top: 4px;
    transform: scale(1.3, 1.3);
}

.plano dialog ul li span.beneficios::before {
    content: "\f00c";
    color: var(--cor-6);

}

.plano dialog ul li .desvantagens::before {
    content: "\f00d";
    color: var(--cor-6);
    margin-right: 3px;
}

/* ==-=-=-== */

.popular {
    width: fit-content;

    position: relative;

    color: var(--cor-2);
    background-color: var(--cor-6);

    font-size: 20rem;

    padding: 7px 20px;
    border-radius: 50px;

    transform: translate(135px, -20px);
}

#center-of-page #vantagens-Hospen {
    width: 100%;
    height: 700px;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: center bottom / contain no-repeat url(../images/img-pessoa-sentada_2.jpg);
}

#center-of-page #vantagens-Hospen #conteudo {
    width: 100%;
    height: fit-content;

    border-radius: 15px;

    position: absolute;

    padding: 20px;
}

#center-of-page #vantagens-Hospen #conteudo h2 {
    font-size: 30rem;
    font-weight: bold;
    text-align: center;

    margin-top: 10px;
}

#center-of-page #vantagens-Hospen #conteudo p {
    margin: 20px 0px;
    text-indent: 10px;
}

#center-of-page #vantagens-Hospen #conteudo button {
    padding: 10px 25px;

    border: none;
    border-radius: 50px;

    background: var(--cor-1);
    color: white;

    transition: .3s;
}

#center-of-page #vantagens-Hospen #conteudo button:hover {
    transform: scale(1.1, 1.1);
}

#extraFooter {
    width: 100%;
    height: fit-content;

    padding: 10px;

    background: #818da03b;
}

#extraFooter h3 {
    margin: 10px 0px;

    font-size: 25rem;
    line-height: 25rem;

    text-align: center;
}

#extraFooter p {
    text-align: center;
    margin-bottom: 20px;
}

#extraFooter #contatos {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#extraFooter #contatos table{
    width: 80%;

    margin: auto ;
    margin-bottom: 20px;
}

#extraFooter #contatos table tbody th {
    font-size: 20rem;
    text-transform: uppercase;
    font-weight: 500;
}

#extraFooter #contatos table tbody tr td:nth-child(1){
    text-transform: uppercase;
    width: 40%;
}

#extraFooter #contatos table tbody tr td{
    text-align: start;
    font-size: 10px !important;

    font-weight: 300;
}

footer {
    width: 100%;
    height: 40px;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: var(--cor-2);
    color: var(--cor-4);
}
